/* font control */
body {
font-family: 'Open Sans', sans-serif;
}

/* header of page */
  .header-style {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }

/* middle right flexbox */
  .card {
    width:100%;
    align-content: flex-end;
  }
  
 .fiveDay {
align-content: flex-end;
 }
