/* font control */
body {
font-family: 'Open Sans', sans-serif;
}

/* header of page */
  .header-style {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
  }

/* upper right flexbox */
  .card {
    width:100%;
  }
  
  /* 5-day */
.weeklyForecast{
color: green;
 }
